# 10월 14일 과제

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/_notebooks/dv2022.csv')
df

     att  rep  mid  fin
0     65   45    0   10
1     95   30   60   10
2     65   85   15   20
3     55   35   35    5
4     80   60   55   70
..   ...  ...  ...  ...
195   55   70   40   95
196   65   85   25   85
197   85   85  100   10
198   80   65   35   60
199   50   95   45   85

[200 rows x 4 columns]

(1)

In [7]:
df.query('mid < fin')

     att  rep  mid  fin
0     65   45    0   10
2     65   85   15   20
4     80   60   55   70
5     75   40   75   85
6     65   70   60   75
..   ...  ...  ...  ...
194   65   40   65   70
195   55   70   40   95
196   65   85   25   85
198   80   65   35   60
199   50   95   45   85

[93 rows x 4 columns]

(2)

In [21]:
df.loc[map(lambda x,y : x < y ,df.mid,df.fin),['att','rep']]

     att  rep
0     65   45
2     65   85
4     80   60
5     75   40
6     65   70
..   ...  ...
194   65   40
195   55   70
196   65   85
198   80   65
199   50   95

[93 rows x 2 columns]